.mainstream .planner .summary{
  background-color:#d5ecea;
  color:#333;
  font-weight:300;
}

article header + form {
  margin-top: 1em;
}

article .summary p {
  line-height: 1.65em;
  padding-top: 0.1em;
  font-weight:300;
}

article .summary .button {
  display:block;
  margin-top:1em;
}

/* Some table overrides from core */
article td {
    background: none repeat scroll 0 0 #FFFFFF;
    border: none;
}

article td {
    padding:none;
}
article tr:nth-child(2n) td {
    background: #fff;
}
article th, article td {
    line-height: 1.3em;
    vertical-align: top;
    padding:0.2em;
}
article table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

/* planner calendars e.g. maternity leave */

.planner #calendar {
  margin: 1em 0;
}

.planner table{
  float:left;
  border:2px solid #eee;
  height: 23em;
  margin: 1em;
  width: 44%;
}


.planner article .key-date-2, 
.planner article #calendar tr .ordinary-mat,
.planner article #calendar tr:nth-child(2n) .ordinary-mat {
  background-color:#F0E7D5;
}

.planner article .key-date-3, 
.planner article #calendar tr.additional-mat,
.planner article #calendar tr:nth-child(2n).additional-mat td {
  background: #CCE0D5;
}
.planner article .key-date-4, 
.planner article #calendar tr.expecting-week{
  background-color:#EFF0D1;
}

/* single days, more important */
.planner article .key-date-1, 
.planner article #calendar tr.mat-leave{
  background-color:#D5E8F4;
}
.planner article .key-date-0, 
.planner article #calendar tr.notify-employer{
  background-color:#FDEBF2;
}
.planner article .key-date-5, 
.planner article #calendar tr .due-date{
  background-color:#EFF0D1;
}
#calendar td{
  text-align:center;
}

.key-dates{
  clear:both;
  margin-top:0;
  list-style-type:none;
}
.key-dates ol{
  padding:0;
  margin:2em 0;
}
.key-dates li{
  margin: 0.5em -1em;
  padding: 1em;
  list-style-type:none;
}

.mainstream article .key-dates ol .key-date-summary {
  font-weight:300;
  font-size:1em;
}
.mainstream article .key-dates time{
  font-weight:bold;
}
.related .actions li .button{
  background: url("/images/button-overlay.png") repeat-x scroll 0 0 #003399;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  cursor: pointer;
  padding: 7px 10px 8px;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.related .actions .print span{
	background: url("/images/icon-printer-16.png") no-repeat 0 0 !important;
	padding-left:20px;
	padding-bottom:2px;
}
.related .actions .ical span{
	background: url("/images/icon-calendar-16.png") no-repeat 0 0 !important;
	padding-left:20px;
	padding-bottom:2px;
}
.related .actions li{
  padding: 0.7em 0 0.5em 0em;
}
.related .actions{
  padding-top:1em;
}
.related .cta{
  border:none;
  background:none;
}

#wrapper.planner hgroup h1 {
    background-image: url("/images/icon-answer-l.png");
}
#wrapper.planner hgroup h1 span {
    color: #236600;
}

#wrapper.planner article .intro {
  margin-bottom: 1.5em;
  padding: 1em;
}

#wrapper.planner article .intro h2 {
  margin-top: 0;
}

.actions {
	clear:both;
	list-style-type:none;
	margin-left:-4em;
}
.actions li {
	display:inline;
}
.examples{
  margin: 1em 0 0 0;
  padding: 0;
	list-style-type:none;
}
.examples li{
	display:inline;
	padding-right:3em;
}

