<h2>How this works</h2>
<p>You'll get the key dates you should be aware of in regards to your maternity leave, as well as a calendar you can print to help you plan your leave.</p>
<ol>
  <li>Generate key dates</li>
  <li>Make a calendar</li>
  <li>Print your calendar</li>
</ol>
