<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | Benefits and schemes | GOV.UK</title>
    <%= stylesheet_link_tag "planner" %>
    <%= yield :head %>
    <meta name="x-section-name" content="Family" />
    <meta name="x-section-link" content="/browse/family" />
    <meta name="x-section-format" content="planner" />
  </head>
<body class="mainstream">
  <div id="wrapper" class="answer">
    <%= yield %>
    <div id="related-items"></div>
  </div>
</body>
</html>
